.App {
  font-family: sans-serif;
  text-align: center;
}
canvas {
  width: 100vw;
  height: 100vh;
}

body {
  font-size: 24px;
  padding: 0;
  margin: 0;
  background: rgb(1, 3, 14);
  color: white;
  font-family: monospace;
}
